<h1>Home Component</h1>

<!-- <div>
    <h4>Employees data: </h4>
    <p *ngFor="let e of empList">
        <span> {{e.name | uppercase }} </span>
        <span *ngIf="e.salary > 13"> {{e.salary | currency : 'INR'}}/- </span>
    </p>
</div>

 -->




















<!-- <div>
    <h4>Employees data: </h4>
    <p *ngFor="let emp of empList">
        <span>{{emp.name }} </span>
        <span *ngIf="emp.salary > 13"> {{emp.salary | currency : 'INR'}}/- </span>
    </p>
</div> -->


<!-- <h1>Home Component</h1>

<p>Home works!</p>

<p>Parent data in parent component: {{parentData}}</p>
<p>Child data in parent component: {{childDataInPrent}}</p>

<app-child (sendToParent)="receiveData($event)" [parentDataInChild]="parentData"></app-child> -->

<!-- <h1>Home Component</h1>
<p>Home works!</p>

<div>
    <p>Conditional Rendering in Angular</p>
    <p *ngIf="empList"> Number of Employees: {{empList.length}} </p>

    <div *ngIf="empList">
        <p *ngFor="let emp of empList">
            Name: {{emp.firstName}}, Salary: {{emp.salary}}
        </p>
    </div>
</div>

<div>
    <p> {{firstName}} </p>
    <button [disabled]="isDisabled">Click me</button>

    <p>{{salary}}</p>

    <button (click)="increaseSalary()">Increase Salary</button>

    <div>
        <input type="text" name="firstName" [(ngModel)]="firstName" />
    </div>




</div> -->