<div>
    <h1>Edit Profile Component</h1>
    <p>use reactive form to edit profile</p>

    <div *ngIf="profileData">
        <form [formGroup]="editProForm" (ngSubmit)="submitEditPro()">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" formControlName="username" placeholder="Enter your username" readonly
                    autofocus>
            </div>
            <div>
                <label for="firstName">firstName:</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="Enter your firstName">
            </div>
            <div>
                <label for="lastName">lastName:</label>
                <input type="test" id="lastName" formControlName="lastName" placeholder="Enter your lastName">
            </div>
            <div>
                <label for="email">email:</label>
                <input type="text" id="email" formControlName="email" placeholder="Enter your email">
            </div>
            <div>
                <label for="phone">phone:</label>
                <input type="text" id="phone" formControlName="phone" placeholder="Enter your phone">
            </div>
            <div>
                <label for="avatar">avatar:</label>
                <input type="text" id="avatar" formControlName="avatar" placeholder="Enter your avatar">
            </div>
            <div>
                <input type="submit" value="Update profile" />
            </div>
        </form>
    </div>
</div>